@charset "UTF-8";

@font-face {
    font-family: 'Microsoft YaHei';
    src: url('微软雅黑Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'consolas';
    src: url('consolas-bold.ttf');
    font-weight: bold;
}